.my-card {
  width: calc(190 * 1.5) px;
  height: 30cqh;
  border-radius: 20px;
  background: #3d3a4e;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}

.my-card-details {
  color: white;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.my-card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: rgba(99, 88, 238, 1);
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.my-card-text-body {
  color: whitesmoke;
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.my-card:hover {
  border-color: rgba(99, 88, 238, 1);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.my-card:hover .my-card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
